
    
body{
    font-family: 'Raleway', sans-serif;
    margin-left: 55px;
}

nav{
    display: flex;
    justify-content: space-between;
}

    .logo{
        width: 61.09px;
        height: 19px; 
        margin-top: 44px;   
    }

    .container_menu{
        width: 30%;
        display: flex;
        margin-right: 77px;
    }

    .container_menu1{
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: center;
        
    }

    .container_menu1:hover{
        border-top: #0065fc 2px solid;
        width: 162px;
        

        }

    .container_menu2{
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: center;
    }

        .container_menu2:hover{
            border-top: #0065fc 2px solid;
            width: 162px;
        }

    .lien{
        margin-top: 46px;
        color: #000000;
        text-decoration: none;
    }

        .lien:hover{
            position: absolute;
            color: #0065fc;
        }

    .intro{
        margin-top: 67px;
    }

    h1{
        font-size: 19px;
    }

    p{
        font-size: 12px;
    }
    
    #recherche{
        display:flex;
        height: 43px;
        margin-top: 15px;  
    }

    #recherche_input{
        margin-right: -2px;
        margin-left: -2px;
        border: 1px solid #f2f2f2;
        height: 43px;
        width: 234px;
    }
    
    #bouton_recherche{
        color: white;
        background-color: #0065fc;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 1px solid #0065fc;
        font-weight: bold;
        width: 12%;
        font-family: 'Raleway';
        font-style: normal;
    }

    #recherche_input::placeholder{
        opacity : 1;
    }

    #loupe_tel{
        display: none;
    }

    .filtre_recherche{
        display: flex;
        flex-wrap: wrap;
        margin: 17px 17px 17px 7px;
        font-size: 12px;
        font-family: 'Raleway';
    }

    .filtre_recherche div:hover{
        background-color: #deebff;
    }

    .filtre_recherche i {
        border-radius: 100%;
        height: 10px;
        width: 10px;
        align-items: center;
        justify-content: center;
        margin: -2px;
        color: #0065fc;
        padding: 7px 11px 7px 11px;
    }

    .filtre_recherche h2 {
        font-size: small;
        padding-top: 12px;
    }

    .filtre_recherche div{
        display: flex;
        align-items: center;
        margin-right: 12px;
        border: 2px solid #d9d9d9;
        border-radius: 32px;
        margin: 15px;
        transition-duration: 0.1s;
        cursor: pointer;
        padding-right: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
    }

    #icon{
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4f4;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    
    .info i{
        display: initial;        
    }

    .info{
        margin-bottom: 35px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;      
    }

    .fa-solid.fa-info{
        color: #0065fc;
        border-radius: 50px;
        border: solid #d9d9d9;
        margin-right: 8px;
        padding: 7px 11px 7px 11px;
        font-size: 14px;
        margin-left: 9px;
    }

.section_aside{
    display: flex;
    flex-direction: row;
}

.section1{
    top: 426px;
    display: flex;
    flex-direction: row;
    height: 626px;
    width: 880px;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: absolute;
}

.section1_titre{
    margin-top: 25px;
    margin-left: 40px;
    padding-bottom: 23px;
    font-family: 'Raleway', sans-serif;
}

.image{
    height: 124px;
    width: 246px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px; 
    box-sizing: border-box;
    object-fit: cover
}

.card1{
    height: 199px;
    width: 246px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 91px;
    margin-left: 40px;
    position: absolute;
    
}

    .card1 p{
        position: absolute;
        width: 204px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 152px;
        margin-top: 9px;
        margin-left: 16px;
    }

    .card1 h1{   
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;    
        color: #000000;   
        position: absolute;
        width: 204px;
        height: 15px;
        top: 128px;
        margin-top: 4px; 
        margin-left: 16px;
    }

    .card1 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        margin-left: 16px;   
        margin-top: 52px;

    }
    .card1 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card1 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card1 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card1 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 52px;

    }

.card2{
    height: 199px;
    width: 246px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 91px;
    margin-left: 317px;
    position: absolute;
}

    .card2 p{
        position: absolute;
        width: 204px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 152px;
        margin-top: 9px;
        margin-left: 16px;
    }

    .card2 h1{   
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;    
        color: #000000;   
        position: absolute;
        width: 204px;
        height: 15px;
        top: 128px;
        margin-top: 4px; 
        margin-left: 16px;
    }

    .card2 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        margin-left: 16px;   
        margin-top: 52px;

    }
    .card2 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card2 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card2 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card2 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 52px;

    }

.card3{
    height: 199px;
    width: 246px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 91px;
    margin-left: 594px;
    position: absolute;
}

    .card3 p{
        position: absolute;
        width: 204px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 152px;
        margin-top: 9px;
        margin-left: 16px;
    }

    .card3 h1{   
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;    
        color: #000000;   
        position: absolute;
        width: 204px;
        height: 15px;
        top: 128px;
        margin-top: 4px; 
        margin-left: 16px;
    }

    .card3 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        margin-left: 16px;   
        margin-top: 52px;

    }
    .card3 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card3 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card3 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card3 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 52px;

    }

.card4{
    height: 199px;
    width: 246px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 320px;
    margin-left: 40px;
    position: absolute;
}

    .card4 p{
        position: absolute;
        width: 204px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 152px;
        margin-top: 9px;
        margin-left: 16px;
    }

    .card4 h1{   
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;    
        color: #000000;   
        position: absolute;
        width: 204px;
        height: 15px;
        top: 128px;
        margin-top: 4px; 
        margin-left: 16px;
    }

    .card4 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        margin-left: 16px;   
        margin-top: 52px;

    }
    .card4 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card4 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card4 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card4 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 52px;

    }



.card5{
    height: 199px;
    width: 246px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 320px;
    margin-left: 317px;
    position: absolute;
}

    .card5 p{
        position: absolute;
        width: 204px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 152px;
        margin-top: 9px;
        margin-left: 16px;
    }

    .card5 h1{   
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;    
        color: #000000;   
        position: absolute;
        width: 204px;
        height: 15px;
        top: 128px;
        margin-top: 4px; 
        margin-left: 16px;
    }

    .card5 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        margin-left: 16px;   
        margin-top: 52px;

    }
    .card5 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card5 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card5 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card5 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 52px;

    }

.card6{
    height: 199px;
    width: 246px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 320px;
    margin-left: 594px;
    position: absolute;
}

    .card6 p{
        position: absolute;
        width: 204px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 152px;
        margin-top: 9px;
        margin-left: 16px;
    }

    .card6 h1{   
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;    
        color: #000000;   
        position: absolute;
        width: 204px;
        height: 15px;
        top: 128px;
        margin-top: 4px; 
        margin-left: 16px;
    }

    .card6 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        margin-left: 16px;   
        margin-top: 52px;

    }
    .card6 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card6 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card6 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 52px;

    }
    .card6 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 52px;

    }

.star{
    display: flex;
}

.section1_footer{
  margin-top: 501px;
}

.aside{
    top: 426px;
    display: flex;
    flex-direction: row;
    height: 625px;
    width: 420px;
    margin-left: 933px;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: absolute;
}

.aside_titre{
    display: flex;
    margin-top: 25px;
    margin-left: 40px;
    padding-bottom: 23px;
    font-family: 'Raleway', sans-serif; 
}

.graphs{
    display: flex;
    height: 16px;
    width: 18px;
    color: #0065fc;
    margin-left: 142px;
    margin-top: 21px;

}

.image2{
    height: 144px;
    width: 137px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px; 
    box-sizing: border-box;
    object-fit: cover
}

.card7{
    display: flex;
    height: 144px;
    width: 343px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 93px;
    margin-left: 37px;
    position: absolute;
}

    .card7 p{
        position: absolute;
        width: 169px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 48px;
        margin-left: 152px;
    }

    .card7 h1{
        position: absolute;
        width: 169px;
        height: 38px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        top: 2px;
        margin-left: 152px;
    }

    .card7 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;
       

    }
    .card7 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card7 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card7 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card7 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 120px;

    }

.card8{
    display: flex;
    height: 144px;
    width: 343px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 270px;
    margin-left: 37px;
    position: absolute;
}
    
    .card8 p{
        position: absolute;
        width: 169px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 48px;
        margin-left: 152px;
    }

    .card8 h1{
        position: absolute;
        width: 169px;
        height: 38px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        top: 2px;
        margin-left: 152px;
    }

    .card8 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;
    

    }
    .card8 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card8 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card8 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card8 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 120px;

    }   

.card9{
    display: flex;
    height: 144px;
    width: 343px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 447px;
    margin-left: 37px;
    position: absolute;
}    
        
    .card9 p{
        position: absolute;
        width: 169px;
        height: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        top: 32px;
        margin-left: 152px;
    }

    .card9 h1{
        position: absolute;
        width: 169px;
        height: 38px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        top: 2px;
        margin-left: 152px;
    }

    .card9 .star1{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;
    

    }
    .card9 .star2{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card9 .star3{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card9 .star4{
        display: flex;
        height: 12px;
        width: 12px;
        color: #0065fc;
        padding-left: 8px;
        margin-top: 120px;

    }
    .card9 .star5{
        display: flex;
        height: 12px;
        width: 12px;
        color: #f2f2f2;
        padding-left: 8px;
        margin-top: 120px;
    }           

.section2{
    top: 1062px;
    display: flex;
    flex-direction: row;
    height: 626px;
    width: 1339px;
    position: absolute;
}

    .section2_titre{
        margin-top: 25px;
        padding-bottom: 23px;
        font-family: 'Raleway', sans-serif;
    }

        .image3{
            height: 389px;
            width: 302px;
            border-radius: 20px 20px 0px 0px; 
            box-sizing: border-box;
            object-fit: cover
        }

        .card10{
            display: flex;
            height: 445px;
            width: 302px;
            background-color: #ffffff;
            border-radius: 20px;
            margin-top: 93px;
            position: absolute;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            
        }

            .card10 h1{
                position: absolute;
                width: 247px;
                height: 15px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                top: 2px;
                margin-left: 19px;
                margin-top: 409px;
            }

        .card11{
            display: flex;
            height: 445px;
            width: 302px;
            background-color: #ffffff;
            border-radius: 20px;
            margin-top: 93px;
            margin-left: 345px;
            position: absolute;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }

            .card11 h1{
                position: absolute;
                width: 247px;
                height: 15px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                top: 2px;
                margin-left: 19px;
                margin-top: 409px;    
            }    

        .card12{
            display: flex;
            height: 445px;
            width: 302px;
            background-color: #ffffff;
            border-radius: 20px;
            margin-top: 93px;
            margin-left: 692px;
            position: absolute;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }        
                
            .card12 h1{
                position: absolute;
                width: 247px;
                height: 15px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                top: 2px;
                margin-left: 19px;
                margin-top: 409px;
            }        

        .card13{
            display: flex;
            height: 445px;
            width: 302px;
            background-color: #ffffff;
            border-radius: 20px;
            margin-top: 93px;
            margin-left: 1037px;
            position: absolute;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }            

            .card13 h1{
                position: absolute;
                width: 247px;
                height: 15px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                top: 2px;
                margin-left: 19px;
                margin-top: 409px;
            }
                

.footer{
    display: flex;
    top: 1666px;
    display: flex;
    flex-direction: row;
    height: 225px;
    width: 1339px;
    background-color: #f2f2f2;
    position: absolute;
}
    .footer h1{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }

    .footer p{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;    
    }

    .footer1{
        margin-left: 70px;
        margin-top: 45px;
    }

    .footer2{
        padding-left: 232px;
        margin-top: 45px;
    }

    .footer3{
        margin-left: 239px;
        margin-top: 45px;
    }

                


